<app-navbar xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml"></app-navbar>
<div *ngIf="selectedItem">
  <div class="card1">
    <div class="title">
      <h2>
        {{selectedItem.title}}
      </h2>
      <div>
        <button type="button" (click)="save()">Save</button>
        <button type="button" (click)="back()">Back</button>
      </div>
    </div>
    <hr>
    <div class="box">
      <div>
        <img src="{{selectedItem.first_image}}" style="width: 50%; height: 300px; margin-top: 5%" alt="">

        <img src="{{selectedItem.second_image}}" style="width: 50%; height: 300px; margin-top: 5%" alt="">
      </div>
      <div>
        <img src="{{selectedItem.third_image}} " style="width: 50%; height: 300px; margin-top: 5%" alt="">
        <img src="{{selectedItem.third_image}} " style="width: 50%; height: 300px; margin-top: 5%" alt="">
      </div>
    </div>
    <div>
      <div class="section">
        <h4>
          Rating: {{selectedItem.likes}}
        </h4>
      </div>
      <div class="section">
        <p>Age:</p> {{selectedItem.age}}
      </div>
      <div class="intro">
        <div class="card" style="width: 20%">
          <div class="section">
            <h2>Gender:</h2>{{selectedItem.gender}}
          </div>
        </div>
      </div>
      <div class="card" style="width: 20%">
        <div class="section">
          <h3>Comments:</h3>
          <div *ngFor='let step of comments, let i = index'>
            <h5>
              - {{step.text}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comment">
  <input type="text" [(ngModel)]='text' placeholder="Comment" id="comment">
  <button (click)="send()">Send</button>
</div>


<div>
  <button  (click)="delete()">Delete</button>
</div>
